*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aquamarine;
    justify-content: center;
}

img{
    width: 40%;
}

h1{
    text-align: center;
    font-size: 2rem;
    color:#fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    text-align: justify;
    line-height: 2px;
}